.container{
    /* margin: 2rem auto; */

    display: grid;
    place-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.5rem; 
    font-size: 1.5rem;

    width: 53rem;
    text-align: center;

    margin-bottom: 2rem;

    &__title{
        
        & > :not(:last-child){
            color: $grayish-blue;
        }
    }

    &__description{
        color: $grayish-blue;

    }
}

.cards{
    display: grid;
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;


    &__item{
        width: 30rem;
        height: 22rem;

        border-radius: .5rem;
        box-shadow: 0 .2rem .8rem $grayish-blue;        

        &--1{
            grid-row: 2 / 4;
            grid-column: 1 / 2;

            border-top: .5rem solid $cyan;
            
            
        }

        &--2{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
                        
            border-top: .5rem solid $red;
        }

        &--3{
            grid-row: 3 / 5;
            grid-column: 2 / 3;

            border-top: .5rem solid $orange;
        }

        &--4{
            grid-row: 2 / 4;
            grid-column: 3 / 4;

            border-top: .5rem solid $blue;
        }



    }

    &__box{
        padding: 2rem;
        position: relative;

        &--img{
            position: absolute;
            right: 2rem;
            bottom: -7rem;
        }
    }
}

footer{
    position: relative;
    
    display: flex;
    justify-content: center;

}